[submodule "pack/derwiath/start/vim-grepit"]
	path = pack/derwiath/start/vim-grepit
	url = git@github.com:derwiath/vim-grepit.git
[submodule "pack/derwiath/start/ctrlp.vim"]
	path = pack/derwiath/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/derwiath/start/vim-dispatch"]
	path = pack/derwiath/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-abolish"]
	path = pack/derwiath/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/derwiath/start/vim-bad-whitespace"]
	path = pack/derwiath/start/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "pack/derwiath/start/matchit"]
	path = pack/derwiath/start/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "a.vim"]
	path = pack/derwiath/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/derwiath/start/hive.vim"]
	path = pack/derwiath/opt/hive.vim
	url = https://github.com/autowitch/hive.vim.git
[submodule "pack/derwiath/start/vim-gradle"]
	path = pack/derwiath/opt/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "pack/derwiath/start/vim-fugitive"]
	path = pack/derwiath/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/derwiath/start/csindent.vim"]
	path = pack/derwiath/start/csindent.vim
	url = git@github.com:derwiath/csindent.vim.git
[submodule "pack/derwiath/opt/vim-perforce"]
	path = pack/derwiath/opt/vim-perforce
	url = https://github.com/nfvs/vim-perforce.git
[submodule "pack/derwiath/start/vim-runit"]
	path = pack/derwiath/start/vim-runit
	url = git@github.com:derwiath/vim-runit.git
[submodule "pack/derwiath/start/vim-toggleit"]
	path = pack/derwiath/start/vim-toggleit
	url = git@github.com:derwiath/vim-toggleit.git
[submodule "pack/derwiath/opt/vim-scala"]
	path = pack/derwiath/opt/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "pack/derwiath/start/rust.vim"]
	path = pack/derwiath/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/derwiath/start/vim-racer"]
	path = pack/derwiath/start/vim-racer
	url = git@github.com:racer-rust/vim-racer.git
[submodule "pack/derwiath/start/vim-fixmyjs"]
	path = pack/derwiath/start/vim-fixmyjs
	url = git@github.com:ruanyl/vim-fixmyjs.git
