[submodule "pack/derwiath/start/vim-grepit"]
	path = pack/derwiath/start/vim-grepit
	url = git@github.com:derwiath/vim-grepit.git
[submodule "pack/derwiath/start/vim-dispatch"]
	path = pack/derwiath/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-abolish"]
	path = pack/derwiath/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/derwiath/start/vim-bad-whitespace"]
	path = pack/derwiath/start/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "pack/derwiath/start/matchit"]
	path = pack/derwiath/start/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "a.vim"]
	path = pack/derwiath/opt/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/derwiath/start/vim-fugitive"]
	path = pack/derwiath/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/derwiath/start/csindent.vim"]
	path = pack/derwiath/opt/csindent.vim
	url = git@github.com:derwiath/csindent.vim.git
[submodule "pack/derwiath/opt/vim-perforce"]
	path = pack/derwiath/opt/vim-perforce
	url = https://github.com/nfvs/vim-perforce.git
[submodule "pack/derwiath/start/vim-runit"]
	path = pack/derwiath/start/vim-runit
	url = git@github.com:derwiath/vim-runit.git
[submodule "pack/derwiath/start/vim-toggleit"]
	path = pack/derwiath/start/vim-toggleit
	url = git@github.com:derwiath/vim-toggleit.git
[submodule "pack/derwiath/opt/vim-scala"]
	path = pack/derwiath/opt/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "pack/derwiath/start/rust.vim"]
	path = pack/derwiath/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/derwiath/start/vim-racer"]
	path = pack/derwiath/opt/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "pack/derwiath/start/vim-fixmyjs"]
	path = pack/derwiath/opt/vim-fixmyjs
	url = https://github.com/ruanyl/vim-fixmyjs.git
[submodule "pack/derwiath/start/async.vim"]
	path = pack/derwiath/opt/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/derwiath/start/vim-lsp"]
	path = pack/derwiath/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/derwiath/start/asyncomplete.vim"]
	path = pack/derwiath/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/derwiath/start/asyncomplete-lsp.vim"]
	path = pack/derwiath/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/derwiath/start/typescript-vim"]
	path = pack/derwiath/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/derwiath/start/plantuml-syntax"]
	path = pack/derwiath/opt/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "pack/derwiath/start/vim-radical"]
	path = pack/derwiath/opt/vim-radical
	url = https://github.com/glts/vim-radical.git
[submodule "pack/derwiath/start/vim-magnum"]
	path = pack/derwiath/opt/vim-magnum
	url = https://github.com/glts/vim-magnum.git
[submodule "pack/derwiath/opt/vim-ddf"]
	path = pack/derwiath/opt/vim-ddf
	url = git@github.com:derwiath/vim-ddf.git
[submodule "pack/derwiath/start/fzf.vim"]
	path = pack/derwiath/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/derwiath/start/fzf"]
	path = pack/derwiath/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/derwiath/opt/coc.nvim"]
	path = pack/derwiath/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/derwiath/start/vim-deus"]
	path = pack/derwiath/start/vim-deus
	url = https://github.com/ajmwagar/vim-deus.git
[submodule "pack/derwiath/start/ron.vim"]
	path = pack/derwiath/opt/ron.vim
	url = git@github.com:derwiath/ron.vim.git
[submodule "pack/derwiath/start/vim-ps1"]
	path = pack/derwiath/opt/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "pack/derwiath/opt/editorconfig-vim"]
	path = pack/derwiath/opt/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/derwiath/opt/vim-flipit"]
	path = pack/derwiath/opt/vim-flipit
	url = git@github.com:derwiath/vim-flipit.git
[submodule "pack/derwiath/opt/pico-8.vim"]
	path = pack/derwiath/opt/pico-8.vim
	url = https://github.com/Bakudankun/PICO-8.vim.git
[submodule "pack/derwiath/opt/vim-glsl"]
	path = pack/derwiath/opt/vim-glsl
	url = git@github.com:tikhomirov/vim-glsl.git
[submodule "pack/derwiath/opt/vim-svelte-plugin"]
	path = pack/derwiath/opt/vim-svelte-plugin
	url = git@github.com:leafOfTree/vim-svelte-plugin.git
[submodule "pack/derwiath/opt/context_filetype.vim"]
	path = pack/derwiath/opt/context_filetype.vim
	url = git@github.com:Shougo/context_filetype.vim.git
[submodule "pack/derwiath/opt/vim-svelte"]
	path = pack/derwiath/opt/vim-svelte
	url = git@github.com:evanleck/vim-svelte.git
